html {
  background: #00C0A3;
}

p {
  margin: .2em auto;
}

.App {
  text-align: center;
  font-size: 2em;
}

.welcome {
  font-size: 2.5em;
  margin: .5em auto;
}

button {
  transition: 1s;
  font-family: 'Amatic SC', cursive;
  font-size: 1em;
  text-align: center;
  border: 1px solid;
  padding: 10px;
  box-shadow: 4px 4px 14px 4px #003c31;
  border-radius: .15em;
  height: 2em;
  width: 6em;
  background: #00896F;
  color: white;
  border: none;
  margin: 3%;
}

button:hover, button:focus {
  transition: 1s;
  height:2.1em;
  width: 6.1em;
  background: #026150;
  cursor: pointer;
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:active {
  background-color: #026150;
  box-shadow: 0 5px #003c31;
  transform: translateY(5px);
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
