html {
  background: #00C0A3;
}

.App {
  text-align: center;
  font-size: 3em;
}

button {
  transition: 1s;
  font-family: 'Amatic SC', cursive;
  font-size: 1em;
  text-align: center;
  border: 1px solid;
  padding: 10px;
  box-shadow: 4px 4px 14px 4px #003c31;
  border-radius: .15em;
  height: 2em;
  width: 6em;
  background: #00896F;
  color: white;
  border: none;
  margin: 3%;
}

button:hover, button:focus {
  transition: 1s;
  height:2.1em;
  width: 6.1em;
  background: #026150;
  cursor: pointer;
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

button:active {
  background-color: #026150;
  box-shadow: 0 5px #003c31;
  transform: translateY(5px);
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

/* #buttonclick span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#buttonclick span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#buttonclick:hover span {
  padding-right: 25px;
}

#buttonclick:hover span:after {
  opacity: 1;
  right: 0;
} */